<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue - Ejercicio 2</title>
  </head>
  <body>
    <div id="app">
      <section class="client-section">
        <h2 v-if="idClienteAModificar">Editar clientes:</h2>
        <h2 v-else="idClienteAModificar">Agregar clientes:</h2>
        <form>
          <label for="nombre"> Nombre: </label>
          <input
            name="nombre"
            id="nombre"
            v-model="nombreCliente"
            type="text"
          />
          <label for="edad"> Edad: </label>
          <input name="edad" id="edad" v-model="edadCliente" type="number" />
          <button v-if="!idClienteAModificar" @click.prevent="agregarCliente">
            Agregar Cliente
          </button>
          <button v-else="idClienteAModificar" @click.prevent="editarCliente">
            Editar Cliente
          </button>
        </form>
      </section>
      <section class="list-section">
        <ul>
          <li v-for="cliente in clientes" :key="cliente.id">
            <div>
              <span>{{cliente.nombre}}</span>:
              <span>{{cliente.edad}}</span>
            </div>
            <button @click="borrarCliente(cliente.id)">Borrar</button>
            <button @click="modificarDatos(cliente)">Modificar</button>
          </li>
        </ul>
      </section>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            clientes: [
              {
                id: 1,
                nombre: "Pedro",
                edad: 33
              },
              {
                id: 2,
                nombre: "Juan",
                edad: 23
              },
              {
                id: 3,
                nombre: "Ariel",
                edad: 43
              }
            ],
            nombreCliente: null,
            edadCliente: null,
            id: 4,
            idClienteAModificar: null
          };
        },
        methods: {
          agregarCliente() {
            if (this.nombreCliente != null && this.edadCliente != null) {
              this.clientes = [
                ...this.clientes,
                {
                  id: this.id++,
                  nombre: this.nombreCliente,
                  edad: this.edadCliente
                }
              ];
            }
            this.limpiarEstado();
            //Para limpiar los valores dsp del click
          },
          editarCliente() {
            if (this.idClienteAModificar) {
              const clienteModificado = this.clientes.find(
                (cliente) => cliente.id == this.idClienteAModificar
              );

              clienteModificado.nombre = this.nombreCliente;
              clienteModificado.edad = this.edadCliente;
              this.idClienteAModificar = null;
            }

            this.limpiarEstado();
          },
          borrarCliente(idCliente) {
            //Pisa el array de clientes con un nuevo array sin  elemento que corresponde a idCliente
            this.clientes = this.clientes.filter((id) => idCliente != id.id);
          },
          modificarDatos(cliente) {
            //Carga los datos para mostrarlos en el input. Agrega una variable de control (id) para poder editar clientes/ mostrar elementos condicionales
            this.nombreCliente = cliente.nombre;
            this.edadCliente = cliente.edad;
            this.idClienteAModificar = cliente.id;
          },
          limpiarEstado() {
            this.edadCliente = null;
            this.nombreCliente = null;
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
